# Defines plugins to load

# Defines plugin folder
# PluginFolder=/usr/lib/x86_64-linux-gnu/OGRE-1.9.0 - path for x86_64
PluginFolder=/usr/local/lib/OGRE

# ------ RENDER SYSTEM ------
# Available render system plugins

# -> Windows only
# Plugin=RenderSystem_Direct3D9
# Plugin=RenderSystem_Direct3D10
# Plugin=RenderSystem_Direct3D11

# -> Desktop universal
Plugin=RenderSystem_GL

# -> Mobile universal
# Plugin=RenderSystem_GLES

# ------ SCENE MANAGER ------
# -> Scene managers (choose one of them)
Plugin=Plugin_OctreeSceneManager
# Plugin=Plugin_BSPSceneManager
# Plugin=Plugin_PCZSceneManager

# ------ ADDITIONAL ------
# -> Additional plugins (optional)
# Plugin=Plugin_ParticleFX
# Plugin=Plugin_CgProgramManager

# -> Additional plugins for PCZSceneManager (optional)
# Plugin=Plugin_OctreeZone
